<div class="ui segment items">
  <div class="item">
    <div class="ui image">
      <div class="ui statistic">
        <a class="label" ng-click="comment.up(comment.post)">
          <i class="fitted chevron up icon" ng-class="{ blue: comment.post.value === 1 }"></i>
        </a>
        <div class="value">{{comment.post.upvotes.length - comment.post.downvotes.length + comment.post.change}}</div>
        <a class="label" ng-click="comment.down(comment.post)">
          <i class="fitted chevron down icon" ng-class="{ blue: comment.post.value === -1 }"></i>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="header">{{comment.post.title}}</div>
      <div class="meta">
        <span class="itemspan">posted</span>
        <span class="itemspan" am-time-ago="comment.post.date"></span>
        <span>by {{comment.post.user}}</span>
        <a>save</a>
      </div>
      <div class="description">
        <p>{{comment.post.content}}</p>
      </div>
    </div>
  </div>
</div>
<div class="ui segment items">
  <div>
    <div class="item">
      <h3>
        <span ng-show="item.comments === 1">{{comment.post.comments}} Comment</span>
        <span ng-show="item.comments !== 1">{{comment.post.comments}} Comments</span>
      </h3>
      <div class="ui comments">
        <form class="ui reply form">
          <div class="field">
            <textarea ng-model="comment.text"></textarea>
          </div>
          <div class="ui basic black submit button" ng-click="comment.reply(comment.text)">
            Add Reply
          </div>
        </form>
        <!-- start comment section -->
        <div class="comment" ng-repeat="item in comment.comments">
          <div class="content">
            <a class="author">{{item.user}}</a>
            <div class="metadata">
              <span class="itemspan">posted</span>
              <span class="itemspan" am-time-ago="item.date"></span>
            </div>
            <div class="text">
              <p>{{item.comment}}</p>
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
              <a>
                <i class="chevron up icon"></i>{{item.upvotes.length}}
              </a>
              <a>
                <i class="chevron down icon"></i>{{item.downvotes.length}}
              </a>
            </div>
          </div>
          <!-- end comment section -->
        </div>
      </div>
    </div>
  </div>
