<div class="ui segment items">
  <div class="item">
    <div class="ui image">
      <div class="ui statistic">
        <a class="label" ng-click="comment.up(comment.post)">
          <i class="fitted chevron up icon" ng-class="{ blue: comment.post.score === comment.post.up[0] }"></i>
        </a>
        <div class="value">{{comment.post.score}}</div>
        <a class="label" ng-click="comment.down(comment.post)">
          <i class="fitted chevron down icon" ng-class="{ blue: comment.post.score === comment.post.down[0] }"></i>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="header" ng-show="comment.post.link === null && comment.post.editing === false">{{comment.post.title}}</div>
      <div class="header" ng-show="comment.post.link !== null && comment.post.editing === false"><a href="{{comment.post.link}}" target="_blank">{{comment.post.title}}</a></div>
      <div class="header" ng-show="comment.post.link === null && comment.post.editing === true">{{comment.post.editTitle}}</div>
      <div class="header" ng-show="comment.post.link !== null && comment.post.editing === true"><a href="{{comment.post.editLink}}" target="_blank">{{comment.post.editTitle}}</a></div>
      <div class="meta">
        <span class="itemspan">posted</span>
        <span class="itemspan" am-time-ago="comment.post.date"></span>
        <span>by {{comment.post.user}}</span>
        <a ng-show="comment.post.isSaved === false" ng-click="post.save(comment.post)">save</a>
        <a ng-show="comment.post.isSaved === true" ng-click="post.unsave(comment.post)">unsave</a>
        <a ng-show="comment.post.owner === true" ng-click="comment.post.editing = true">edit</a>
      </div>
      <div class="description">
        <p class="whitespace" ng-show="comment.post.editing === false">{{comment.post.content}}</p>
        <p class="whitespace" ng-show="comment.post.editing === true">{{comment.post.editContent}}</p>
      </div>
    </div>
  </div>
  <div ng-show="comment.post.editing === true">
    <div class="ui horizontal divider">Edit Post</div>
    <form class="ui form" ng-submit="post.edit(comment.post)">
      <div class="field">
        <label>Title</label>
        <input type="text" ng-model="comment.post.editTitle" required>
      </div>
      <div class="field">
        <label>URL (optional)</label>
        <input type="text" ng-model="comment.post.editLink">
      </div>
      <div class="field">
        <label>Text (optional)</label>
        <textarea rows="3" ng-model="comment.post.editContent"></textarea>
      </div>
      <button class="ui basic blue button" ng-click="post.edit(comment.post)">Save</button>
      <button class="ui basic black button" ng-click="post.cancel(comment.post)">Cancel</button>
    </form>
  </div>
</div>
<div class="ui segment items">
  <div>
    <div class="item">
      <h3>
        <span ng-show="comment.count === 1">{{comment.count}} Comment</span>
        <span ng-show="comment.count !== 1">{{comment.count}} Comments</span>
      </h3>
      <div class="ui comments">
        <form class="ui form">
          <div class="field">
            <textarea ng-model="comment.text" name="comment.text" rows="3" required></textarea>
          </div>
          <div class="ui basic black submit button" ng-click="comment.reply(comment.text)">
            Add Reply
          </div>
        </form>
      </div>
      <div class="ui comments">
        <!-- start comment section -->
        <div class="comment" ng-repeat="item in comment.comments">
          <div class="content">
            <a href="#/search/{{item.user}}" target="_blank">{{item.user}}</a>
            <div class="metadata">
              <span class="itemspan" am-time-ago="item.date"></span>
              <span ng-show="item.score === 1">{{item.score}} Point</span>
              <span ng-show="item.score !== 1">{{item.score}} Points</span>
            </div>
            <div class="text whitespace" ng-show="item.editing === false">{{item.comment}}</div>
            <div class="text whitespace" ng-show="item.editing === true">{{item.editComment}}</div>
            <div class="actions">
              <a ng-click="comment.up(item)">
                <i class="chevron up icon" ng-class="{ blue: item.score === item.up[0] }"></i>
              </a>
              <a ng-click="comment.down(item)">
                <i class="chevron down icon" ng-class="{ blue: item.score === item.down[0] }"></i>
              </a>
              <a ng-click="item.replying = true">reply</a>
              <a ng-show="item.owner === true" ng-click="item.editing = true">edit</a>
            </div>
          </div>
          <!-- edit -->
          <div ng-show="item.editing === true">
            <br>
            <form class="ui form" ng-submit="comment.edit(item)">
              <div class="field">
                <textarea rows="3" ng-model="item.editComment"></textarea>
              </div>
              <button type="submit" class="ui basic blue button">Save</button>
              <button class="ui basic black button" ng-click="comment.cancel(item)">Cancel</button>
            </form>
          </div>
          <!-- reply -->
          <div ng-show="item.replying === true">
            <br>
            <form class="ui form" ng-submit="comment.reply(item.reply, item)">
              <div class="field">
                <textarea rows="3" ng-model="item.reply" required></textarea>
              </div>
              <button type="submit" class="ui basic blue button">Reply</button>
              <button class="ui basic black button" ng-click="comment.cancel(item)">Cancel</button>
            </form>
          </div>
          <br>
          <thread thread="item.thread"></thread>
        </div>
      </div>
    </div>
  </div>
</div>
